/*Desktop(Large)*/
@media screen and (min-width: 1970px) {
    .swiper {
        height: 0px;
    }

    .img-wrap-large{
        display: flex;
        flex-direction: column;
        margin: 50px;
    }

    .swiper-slide-d{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .three-swiper-slide{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    .hackathon-img-d{
        width: 1000px;
        height: 500px;
        padding: 20px;
        overflow: hidden;
        object-fit: cover;
        border-radius: 40px;
    }

    .herethon-img-d, .ideathon-img-d {
        width: 320px;
        height: 320px;
        margin-right: 20px;
        overflow: hidden;
        border-radius: 30px;
        object-fit: cover;
    }

    .mt-img-d{
        width: 320px;
        height: 320px;
        overflow: hidden;
        border-radius: 30px;
        object-fit: cover;
    }

    .likelion-info{
        margin: auto 200px;
    }

    .about-title{
        font-size: 88px;
        font-weight: bold;
        margin-top: 56px;
    }

    .info-text-wrap{
        display: flex;
        height: fit-content;
        flex-direction: column;
        overflow: visible;
        width: 65%;
        margin-bottom: 100px;
    }

    .info-title{
        font-size: 25px;
    }
    
    .info-content{
        color: #666666;
        font-size: 20px;
        margin-top: 10px;
         
    }

    .track-title{
        text-align: center;
        font-size: 58px;
        margin: 50px;
    }

    /* 프론트 트랙 */
    .box-front-track{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 32px 32px 32px 32px;
        background-color: #dddddd;
        overflow: visible;
        align-content: flex-start;
        flex-wrap: nowrap;
        border-radius: 20px;
        flex: 1 1 40%;
        margin: 30px;
    }

    .front-title, .back-title{
        font-size: 50px;
        text-align: left;
    }

    /* 백엔드 트랙 */
    .box-back-track{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 32px 32px 32px 32px;
        background-color: #333333;
        color: #e7ebf2;
        overflow: visible;
        position: relative;
        align-content: flex-start;
        flex-wrap: nowrap;
        gap: 0;
        border-radius: 20px;
        flex: 1 1 40%;
        margin: 30px;
        box-shadow: 3px 3px 15px 2px gray;
    }
    
    .check-wrap{
        padding: 10px 0px;
    }
}

/*Desktop*/
@media screen and (min-width:1440px) and (max-width: 1970px) {
    @media screen and (min-width:1440px) and (max-width: 1608px){
        .back-class-info {
            line-height: 2;
        }
    }

    .img-wrap-large{
        display: none;
    }

    .about-title{
        font-size: 88px;
        font-weight: bold;
        margin-top: 56px;
    }

    .swiper{
        display: flex;
        margin: 50px;
        width: 70%;
        height: 70%;
        align-items: center;
        justify-content: center;
    }

    .info-text-wrap{
        display: flex;
        height: fit-content;
        flex-direction: column;
        overflow: visible;
        width: 65%;
        margin-bottom: 100px;
    }

    .info-title{
        font-size: 25px;
    }
    
    .info-content{
        color: #666666;
        font-size: 20px;
        margin-top: 10px;
    }

    .track-title{
        text-align: center;
        font-size: 58px;
        margin: 50px;
    }

    /* 프론트 트랙 */
    .box-front-track{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 32px 32px 32px 32px;
        background-color: #dddddd;
        overflow: visible;
        align-content: flex-start;
        flex-wrap: nowrap;
        border-radius: 20px;
        flex: 1 1 40%;
        margin: 30px;
    }

    .front-title, .back-title{
        font-size: 50px;
        text-align: left;
    }

    /* 백엔드 트랙 */
    .box-back-track{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 32px 32px 32px 32px;
        background-color: #333333;
        color: #e7ebf2;
        overflow: visible;
        position: relative;
        align-content: flex-start;
        flex-wrap: nowrap;
        gap: 0;
        border-radius: 20px;
        flex: 1 1 40%;
        margin: 30px;
        box-shadow: 3px 3px 15px 2px gray;
    }
    

    .hackathon-img{
        width: 1000px;
        height: 500px;
        padding: 20px;
        overflow: hidden;
        object-fit: cover;
        border-radius: 40px;
    }
    
    
    .herethon-img{
        margin-right: 20px;
        width: 320px;
        height: 320px;
        overflow: hidden;
        border-radius: 30px;
        object-fit: cover;
    }
    
    .ideathon-img{
        margin-right: 20px;
        width: 320px;
        height: 320px;
        overflow: hidden;
        border-radius: 30px;
        object-fit: cover;
    }
    
    .mt-img{
        width: 320px;
        height: 320px;
        overflow: hidden;
        border-radius: 30px;
        object-fit: cover;
    }

    .swiper-wrapper {
        display: flex;
        flex-direction: row;
        overflow: hidden;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .swiper-pagination{
        display: none;
    }

    .check-wrap{
        padding: 10px 0px;
    }
}

/* Desktop(small) */
@media screen and (min-width:1080px) and (max-width: 1440px) {
    @media screen and (min-width:1298px) and (max-width: 1440px){
        .back-class-info {
            line-height: 2;
        }
    }

    .img-wrap-large{
        display: none;
    }

    .about-title{
        font-size: 78px;
        font-weight: bold;
        margin-top: 56px
        ;
    }

    .info-text-wrap{
        display: flex;
        height: fit-content;
        flex-direction: column;
        overflow: visible;
        padding: 50px;
    }

    .info-title{
        font-size: 25px;
    }
    
    .info-content{
        color: #666666;
        font-size: 20px;
        margin-top: 10px;
    }   
    
    .track-title{
        text-align: center;
        font-size: 54px;
        margin-top: 70px;
    }

    /* 프론트 트랙 */
    .box-front-track{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 32px 32px 32px 32px;
        background-color: #dddddd;
        overflow: visible;
        align-content: flex-start;
        flex-wrap: nowrap;
        border-radius: 20px;
        flex: 1 1 30%;
        margin: 30px;
    }

    .front-title, .back-title{
        font-size: 45px;
        text-align: left;
    }

    /* 백엔드 트랙 */
    .box-back-track{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 32px 32px 32px 32px;
        background-color: #333333;
        color: #e7ebf2;
        overflow: visible;
        position: relative;
        align-content: flex-start;
        flex-wrap: nowrap;
        gap: 0;
        border-radius: 20px;
        flex: 1 1 30%;
        margin: 30px;
        box-shadow: 3px 3px 15px 2px gray;
    }

    .swiper{
        display: flex;
        margin: 25px 20px 30px 20px;
        width: 90%;
        height: 90%;
        align-items: center;
        justify-content: center;
    }
    

    .hackathon-img{
        margin: 50px 0px 20px 0px;
        width: 980px;
        height: 500px;
        overflow: hidden;
        border-radius: 30px;
        object-fit: cover;
    }
    
    
    .herethon-img{
        margin-right: 20px;
        width: 310px;
        height: 310px;
        overflow: hidden;
        border-radius: 30px;
        object-fit: cover;
    }
    
    .ideathon-img{
        margin-right: 20px;
        width: 310px;
        height: 310px;
        overflow: hidden;
        border-radius: 30px;
        object-fit: cover;
    }
    
    .mt-img{
        width: 310px;
        height: 310px;
        overflow: hidden;
        border-radius: 30px;
        object-fit: cover;
    }

    .swiper-wrapper{
        display: flex;
        flex-direction: row;
        overflow: hidden;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .swiper-pagination{
        display: none;
    }

    .check-wrap{
        padding: 10px 0px;
    }
}


/* Tablet */
@media screen and (min-width:768px) and (max-width: 1080px) {
    .img-wrap-large{
        display: none;
    }

    .about-title{
        font-size: 68px;
        font-weight: bold;
        margin-top: 56px;
    }

    .info-text-wrap{
        display: flex;
        height: fit-content;
        flex-direction: column;
        overflow: visible;
        padding: 50px;
    }

    .info-title{
        font-size: 23px;
    }
    
    .info-content{
        color: #666666;
        font-size: 18px;
        margin-top: 10px;
    }    

    .track-title{
        text-align: center;
        font-size: 45px;
        margin-top: 50px;
    }

    .box-front-left, .box-front-right, .box-back-left, .box-back-right{
        flex: 1 1;
    }

    /* 프론트 트랙 */
    .box-front-track{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        padding: 32px 32px 32px 32px;
        background-color: #dddddd;
        overflow: visible;
        align-content: flex-start;
        flex-wrap: nowrap;
        border-radius: 20px;
        flex: 1 1 40%;
        margin: 30px;
    }

    .front-title, .back-title{
        font-size: 36px;
        text-align: left;
    }

    /* 백엔드 트랙 */
    .box-back-track{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        padding: 32px 32px 32px 32px;
        background-color: #333333;
        color: #e7ebf2;
        overflow: visible;
        position: relative;
        align-content: flex-start;
        flex-wrap: nowrap;
        gap: 0;
        border-radius: 20px;
        flex: 1 1 40%;
        margin: 30px;
        box-shadow: 3px 3px 15px 2px gray;
    }

    .swiper{
        display: flex;
        margin: 15px 5px 30px 5px;
        width: 92%;
        height: 92%;
        align-items: center;
        justify-content: center;
    }
    

    .hackathon-img{
        margin: 50px 15px 20px 15px;
        width: 728px;
        height: 359px;
        overflow: hidden;
        border-radius: 30px;
        object-fit: cover;
    }
    
    
    .herethon-img{
        margin-right: 18px;
        width: 225px;
        height: 225px;
        overflow: hidden;
        border-radius: 30px;
        object-fit: cover;
    }
    
    .ideathon-img{
        margin-right: 18px;
        width: 225px;
        height: 225px;
        overflow: hidden;
        border-radius: 30px;
        object-fit: cover;
    }
    
    .mt-img{
        width: 223px;
        height: 223px;
        overflow: hidden;
        border-radius: 30px;
        object-fit: cover;
    }

    .swiper-wrapper{
        display: flex;
        flex-direction: row;
        overflow: hidden;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .swiper-pagination{
        display: none;
    }

    .check-wrap{
        padding: 10px 10px 10px 20px;
    }
}

/* 2 - Tablet */
@media screen and (min-width:762px) and (max-width: 768px) {
    .img-wrap-large{
        display: none;
    }

    .about-title{
        font-size: 68px;
        font-weight: bold;
        margin-top: 56px;
    }

    .info-text-wrap{
        display: flex;
        height: fit-content;
        flex-direction: column;
        overflow: visible;
        padding: 50px;
    }

    .info-title{
        font-size: 23px;
    }
    
    .info-content{
        color: #666666;
        font-size: 18px;
        margin-top: 10px;
         
    }    

    .track-title{
        text-align: center;
        font-size: 45px;
        margin-top: 50px;
    }

    .box-front-left, .box-front-right, .box-back-left, .box-back-right{
        flex: 1 1;
    }

    /* 프론트 트랙 */
    .box-front-track{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        padding: 32px 32px 32px 32px;
        background-color: #dddddd;
        overflow: visible;
        align-content: flex-start;
        flex-wrap: nowrap;
        border-radius: 20px;
        flex: 1 1 40%;
        margin: 30px;
    }

    .front-title, .back-title{
        font-size: 36px;
        text-align: left;
    }

    /* 백엔드 트랙 */
    .box-back-track{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        padding: 32px 32px 32px 32px;
        background-color: #333333;
        color: #e7ebf2;
        overflow: visible;
        position: relative;
        align-content: flex-start;
        flex-wrap: nowrap;
        gap: 0;
        border-radius: 20px;
        flex: 1 1 40%;
        margin: 30px;
        box-shadow: 3px 3px 15px 2px gray;
    }

    .swiper{
        display: flex;
        margin: 15px 5px 30px 15px;
        width: 92%;
        height: 92%;
        align-items: center;
        justify-content: center;
    }
    

    .hackathon-img{
        margin: 50px 15px 20px 15px;
        width: 650px;
        height: 325px;
        overflow: hidden;
        border-radius: 30px;
        object-fit: cover;
    }
    
    
    .herethon-img{
        margin-right: 19px;
        width: 204px;
        height: 204px;
        overflow: hidden;
        border-radius: 30px;
        object-fit: cover;
    }
    
    .ideathon-img{
        margin-right: 19px;
        width: 204px;
        height: 204px;
        overflow: hidden;
        border-radius: 30px;
        object-fit: cover;
    }
    
    .mt-img{
        width: 204px;
        height: 204px;
        overflow: hidden;
        border-radius: 30px;
        object-fit: cover;
    }

    .swiper-wrapper{
        display: flex;
        flex-direction: row;
        overflow: hidden;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .swiper-pagination{
        display: none;
    }

    .check-wrap{
        padding: 10px 10px 10px 20px;
    }
}



/* Mobile */
@media screen and (min-width:390px) and (max-width: 762px) {
    .img-wrap-large{
        display: none;
    }

    .about-title{
        font-size: 58px;
        font-weight: bold;
        margin-top: 56px;
    }

    .info-title{
        font-size: 20px;
    }
    
    .info-content{
        color: #666666;
        font-size: 15px;
        margin-top: 10px;
         
    }    

    .info-text-wrap{
        display: flex;
        height: fit-content;
        flex-direction: column;
        overflow: visible;
        padding: 50px 50px 0px 50px;
    }

    .track-title{
        text-align: center;
        font-size:40px;
        margin-top: 70px;
    }

    /* 프론트 트랙 */
    .box-front-track{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 32px 32px 32px 32px;
        background-color: #dddddd;
        overflow: visible;
        align-content: flex-start;
        flex-wrap: nowrap;
        border-radius: 20px;
        flex: 1 1 40%;
        margin: 20px;
    }

    .front-title, .back-title{
        font-size: 30px;
        text-align: left;
    }

    /* 백엔드 트랙 */
    .box-back-track{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 32px 32px 32px 32px;
        background-color: #333333;
        color: #e7ebf2;
        overflow: visible;
        position: relative;
        align-content: flex-start;
        flex-wrap: nowrap;
        gap: 0;
        border-radius: 20px;
        flex: 1 1 40%;
        margin: 20px;
        box-shadow: 3px 3px 15px 2px gray;
    }

    .swiper {
        width: 100%;
        height: 100%;
    }
    
    .swiper-slide {
        width: 80%;
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .swiper-slide img {
    width: 80%;
    height: 80%;
    margin: 30px;
    border-radius: 30px;
    object-fit: cover;
    }
    
    .swiper-slide:nth-child(2n) {
        width: 100%;
    }
    
    .swiper-slide:nth-child(3n) {
        width: 100%;
    }

    .swiper-pagination{
        display: block;
    }

    .check-wrap{
        padding: 10px 0px;
    }
}

/* 2 - Mobile */
@media screen and (min-width:280px) and (max-width: 390px) {
    .img-wrap-large{
        display: none;
    }

    .about-title{
        font-size: 45px;
        font-weight: bold;
        margin-top: 56px;
    }

    .info-title{
        font-size: 20px;
    }
    
    .info-content{
        color: #666666;
        margin: 10px auto;
        font-size: 14px;
        margin-top: 10px;
         
    }    

    .info-text-wrap{
        display: flex;
        height: fit-content;
        flex-direction: column;
        overflow: visible;
        padding: 50px 50px 0px 50px;
    }

    .track-title{
        text-align: center;
        font-size:36px;
        margin-top: 70px;
    }

    /* 프론트 트랙 */
    .box-front-track{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 32px 32px 32px 32px;
        background-color: #dddddd;
        overflow: visible;
        align-content: flex-start;
        flex-wrap: nowrap;
        border-radius: 20px;
        flex: 1 1 40%;
        margin: 20px;
    }

    .front-title, .back-title{
        font-size: 25px;
        text-align: left;
    }

    /* 백엔드 트랙 */
    .box-back-track{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 32px 32px 32px 32px;
        background-color: #333333;
        color: #e7ebf2;
        overflow: visible;
        position: relative;
        align-content: flex-start;
        flex-wrap: nowrap;
        gap: 0;
        border-radius: 20px;
        flex: 1 1 40%;
        margin: 20px;
        box-shadow: 3px 3px 15px 2px gray;
    }

    .swiper {
        width: 100%;
        height: 100%;
    }
    
    .swiper-slide {
        width: 100%;
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .swiper-slide img {
    width: 80%;
    height: 80%;
    margin: 30px;
    border-radius: 30px;
    object-fit: cover;
    }
    
    .swiper-slide:nth-child(2n) {
        width: 100%;
    }
    
    .swiper-slide:nth-child(3n) {
        width: 100%;
    }

    .swiper-pagination{
        display: block;
    }
    
    .check-wrap{
        padding: 10px 0px;
    }
}

/* 3 - Mobile */
@media screen and (max-width: 280px) {
    .img-wrap-large{
        display: none;
    }

    .about-title{
        font-size: 45px;
        font-weight: bold;
        margin-top: 56px;
    }

    .info-title{
        font-size: 20px;
    }
    
    .info-content{
        color: #666666;
        margin: 10px auto;
        font-size: 14px;
        margin-top: 10px;
         
    }    

    .info-text-wrap{
        display: flex;
        height: fit-content;
        flex-direction: column;
        overflow: visible;
        padding: 50px 50px 0px 50px;
    }

    .track-title{
        text-align: center;
        font-size:32px;
        margin-top: 70px;
    }

    /* 프론트 트랙 */
    .box-front-track{
        display: flex;
        width: 90%;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 32px 32px 32px 32px;
        background-color: #dddddd;
        overflow: visible;
        align-content: flex-start;
        flex-wrap: nowrap;
        border-radius: 20px;
        flex: 1 1 40%;
        margin: 20px;
    }

    .front-title, .back-title{
        font-size: 25px;
        text-align: left;
    }

    /* 백엔드 트랙 */
    .box-back-track{
        display: flex;
        width: 90%;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 32px 32px 32px 32px;
        background-color: #333333;
        color: #e7ebf2;
        overflow: visible;
        position: relative;
        align-content: flex-start;
        flex-wrap: nowrap;
        gap: 0;
        border-radius: 20px;
        flex: 1 1 40%;
        margin: 20px;
        box-shadow: 3px 3px 15px 2px gray;
    }

    .swiper {
        width: 100%;
        height: 100%;
    }
    
    .swiper-slide {
        width: 100%;
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .swiper-slide img {
    width: 80%;
    height: 80%;
    margin: 30px;
    border-radius: 30px;
    object-fit: cover;
    }
    
    .swiper-slide:nth-child(2n) {
        width: 100%;
    }
    
    .swiper-slide:nth-child(3n) {
        width: 100%;
    }

    .swiper-pagination{
        display: block;
    }

    .front-class-info{
        font-size: 14px;
    }
    
    .back-class-info {
        font-size: 14px;
    }
    
    .check-wrap{
        padding: 10px 0px;
        margin-left: -5px;
    }
    
    .check-content{
        font-size: 12px;
    }
}




.about{
    align-items: center;
    justify-content: center;
}

.about-title{
    flex-shrink: 0;
    width: auto;
    height: auto; 
    white-space: pre;
    overflow: visible;
    position: relative;
    line-height: 1.2;
    text-align: center;
    animation: fadeInUp 1.5s;
}


/* title 애니메이션 */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

/* 설명 글 */
.likelion-info{
    display: flex;
    overflow: visible;
    justify-content: center;
    margin-top: 10px;
}

/* 트랙 소개 부분 */
.track-content{
    flex-shrink: 0;
    height: min-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 50px;
    overflow: visible;
    align-content: flex-start;
    flex-wrap: wrap;
}

.front-class-info{
    margin: 20px auto;
    color: #666666;
}

.back-class-info {
    margin: 20px auto;
}

/* 체크 목록 */
.check-wrap{
    flex-shrink: 0;
    height: max-content;
    width: max-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow: visible;
}

.check-content{
    margin-left: 10px;
}

@media screen and (min-width:768px) and (max-width: 1079px) {
	.about-title{
        font-weight: 590;
    }
    .track-title{
        font-weight: 590;
    }
    .front-title{
        font-weight: 590;
    }
    .back-title{
        font-weight: 590;
    }
}


@media screen and (min-width:719px) and (max-width: 767px) {
    .about-title{
        font-weight: 590;
    }
    .track-title{
        font-weight: 590;
    }
    .front-title{
        font-weight: 590;
    }
    .back-title{
        font-weight: 590;
    }
}

@media screen and (min-width:615px) and (max-width: 718px) { 
    .about-title{
        font-weight: 590;
    }
    .track-title{
        font-weight: 590;
    }
    .front-title{
        font-weight: 590;
    }
    .back-title{
        font-weight: 590;
    }
}

@media screen and (min-width:496px) and (max-width: 615px) { 

    .about-title{
        font-weight: 590;
    }
    .track-title{
        font-weight: 590;
    }
    .front-title{
        font-weight: 590;
    }
    .back-title{
        font-weight: 590;
    }
}

@media screen and (max-width:495px){ 
  
    .about-title{
        font-weight: 590;
    }
    .track-title{
        font-weight: 590;
    }
    .front-title{
        font-weight: 590;
    }
    .back-title{
        font-weight: 590;
    }
}
