@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate3d(0, -100px, -50%);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

@media screen and (min-width:1079px) {
	/* Desktop */
    .navbar_mobile{
        display: none;
    }
    .navbar_wrap{
        display: none;
    }
    .navbar{
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        width: 100%;
        height: 120px;
        justify-content: space-between;
        align-items: center;
        border-radius: 0px 0px 0px 0px;
    }
    .navlogo{
        width: 300px;
        margin-left: 96px;
    }
    .nav{
        display: flex;
        flex-direction: row;
        margin-right: 96px;
        width: 439px;
        height: 40px;
        justify-content: space-evenly;
        align-items: center;
    }
    .navtxt{
        font-size: 12px;
        font-weight: 595;
    }

    .nav > div > a{
        text-decoration: none;
        color: rgba(0, 2, 24, 0.48);
        border-radius: 40px;
        box-sizing: border-box;
        padding: 8px 20px 8px 20px;
        width: 103px;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
    }

    .nav > div > a:hover{
        text-decoration: none;
        color: #000;
        border-radius: 40px;
        border: 1px solid #e6eaf2;
        box-sizing: border-box;
        padding: 8px 20px 8px 20px;
        width: 103px;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #e8c9d2;
    }
    
   
}
@media screen and (min-width:768px) and (max-width: 1079px) {
	/* Tablet */
    .navbar{
        display: none;
    }

    .navbar_wrap{
        display: flex;
    }

    .navbar_mobile{
        width: 100%;
        height: 64px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 8px 0px 8px 0px;
        box-shadow: inset 0px -1px 0px 0px rgb(0 2 24 / 8%);
        background-color: #ffffff;
        z-index: 101;
        align-content: center;
        flex-wrap: nowrap;
        border-radius: 0px 0px 0px 0px;
        position: relative;
    }
    .navlogo_mobile{
        width: 240px;
        margin-left: 16px;
        display: block;
    }

    .nav_detailbox{
        position: fixed;
        top: 80px;
        height: 320px;
        width: 100%;
        z-index: 100;
        /* animation: fadeInDown 1s; */
        background-color: white;
        display: none;
    }

    .toggle{
        display: block;
        position: fixed;
        top: 80px;
        height: 150px !important;
        width: 100% !important;
        z-index: 100;
        animation: fadeInDown 1s;
        background-color: white;
        height: 250px !important;
        display: block;
        transition: 0.5s ease;
      }

    .toggle .show{
        display: none;
    }

    .innerdtail{
        padding: 16px 25px;
        display: flex;
        height: 100%;
        flex-flow: row nowrap;
        place-content: center space-between;
        align-items: center;
        box-sizing: border-box;
    }
  
}
@media screen and (max-width:768px){ 
    .navbar_mobile{
        width: 100%;
        height: 64px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 8px 0px 8px 0px;
        box-shadow: inset 0px -1px 0px 0px rgb(0 2 24 / 8%);
        background-color: #ffffff;
        z-index: 10;
        align-content: center;
        flex-wrap: nowrap;
        border-radius: 0px 0px 0px 0px;
    }
    .navbar{
        display: none;
    }

    .navbar_wrap{
        display: flex;
    }

    .navlogo_mobile{
        width: 240px;
        margin-left: 16px;
        display: block;
    }

    .nav_detailbox{
        position: fixed;
        top: 80px;
        height: 320px;
        width: 100%;
        z-index: 100;
        /* animation: fadeInDown 1s; */
        background-color: white;
        display: none;
    }

    .toggle{
        display: block;
        position: fixed;
        top: 80px;
        height: 150px !important;
        width: 100% !important;
        z-index: 100;
        animation: fadeInDown 1s;
        background-color: white;
        height: 250px !important;
        display: block;
        transition: 0.5s ease;
      }

    .toggle .show{
        display: none;
    }

    .innerdtail{
        padding: 16px 25px;
        display: flex;
        height: 100%;
        flex-flow: row nowrap;
        place-content: center space-between;
        align-items: center;
        box-sizing: border-box;
    }

    .innerdtail > ul > li > a{
        font-weight: 500 !important;
    }

}

*{
    padding: 0;
    margin: 0;
    /* font-family: 'Noto Sans KR', sans-serif; */
    
}

/*ㅎㅐㅁ버거 버버튼*/

.btn-menu {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    width: 40px;
    height: 40px;
    display: block;
    background-color: #e7ebf2;
    overflow: visible;
    border-radius: 6px;
    margin-right: 12px;
}
.btn-menu:before, 
.btn-menu:after {
    display:block; 
    content:""; 
    position:absolute; 
    left:50%; 
    top:55%; 
    width:36px; 
    width: 16px;
    height: 2px; 
    background:#000; 
    -webkit-transform:translateX(-50%); 
    transform:translateX(-50%); 
    -webkit-transition:all 0.8s cubic-bezier(0.23, 1, 0.32, 1); 
    transition:all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
.btn-menu:before {margin-top:-8px;}
.btn-menu.active:before {margin-top:-2px; -webkit-transform:translateX(-50%) rotate(45deg) translateZ(0); transform:translateX(-50%) rotate(45deg) translateZ(0);}
.btn-menu.active:after {margin-top:-2px; -webkit-transform:translateX(-50%) rotate(-45deg) translateZ(0); transform:translateX(-50%) rotate(-45deg) translateZ(0);}

/*햄버거 버버튼  끝*/

.innerdtail > ul > li > a {
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
    color: #000;
    
}

.innerdtail > ul > li{
    list-style: none;
}

.innerdtail > ul{
    line-height: 40px;
}

