@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-style: normal;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@media screen and (min-width:1440px) {

	/* Desktop */
    /*모바일 부분 숨기기*/
    .main_mobile{
        display: none;
    }
    .section2_mobile{
        display: none;
    }
    /*모바일 부분 숨기기*/

    /*섹션1*/
    .main{
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .maintitle{
        width: auto;
        /* height: 96px; */
        color: #000000;
        font-size: 80px;
        font-weight: 595;
        margin-top: 20px;
        font-family: 'NanumSquareNeo-Variable';
        animation: fadeInUp 1s;
    }
    
    .section1{
        display: flex;
        width: 100%;
        height: 1142px;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
    }
   
    #vouter{
        width: 1080px;
        height: 567px;
        border-radius: 20px;
        overflow: hidden;
        position: relative;
        animation: fadeInUp 1s;
        /* margin: 70px 0px 32px 0px; */
    }

    .video{
        width: 100%;
        overflow: hidden;
        position: relative;
        left: 0;
        top: 0;
        opacity: 1;
    }
    .sec1textbox{
        display: flex;
        flex-direction: column;
        align-items: center;
        animation: fadeInUp 1s;
    }
    .gobtn{
        box-sizing: border-box;
        width: 197px;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 32px 12px 32px;
        background-color: #000218;
        overflow: visible;
        align-content: center;
        flex-wrap: nowrap;
        font-size: 20px;
        border-radius: 100px;
        border: 1px solid rgba(0, 2, 24, 0);
    }

    .sec1textbox > a {
        text-decoration: none;
        color: white;
        margin-top: 35px;
        height: 53px;
    }
    /*섹션 1 끝*/

    /*섹션 2*/
    .section2{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 156px 160px 156px;
    }

    .section2_mobile{
        display: none;
    }

    .innersection2{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0px 24px 0px 24px;
        height: 1354px;
        justify-content: space-between;
    }
    
    .sctimg2{
        width: 508px;
        height: 361px;
        background-color: rgba(232, 201, 210, 0.58);
        border-radius: 20px;
    }
    .sctimg1, .sctimg3{
        width: 508px;
        height: 361px;
        background-color: rgba(232, 201, 210, 0.58);
        border-radius: 20px;
    }

    .sctbox1,.sctbox2, .sctbox3{
        display: flex;
        flex-direction: row;
        width: 1080px;
        justify-content: space-between;
        align-items: center;
    }  

    .box3title, .box2title, .box1title{
        font-size: 44px;
        font-weight: bold;
        line-height: 0.8;
    }
    .box3title:nth-of-type(2), .box2title:nth-of-type(2), .box1title:nth-of-type(2){
        font-size: 44px;
        font-weight: bold;
        color: #80243F;
        line-height: 1.5;
    }
    .box1detail, .box2detail, .box3detail{
        color: #858694;
        margin-top: 15px;
        line-height: 2;
    }

    .box1txt, .box2txt, .box3txt{
        width: 463px;
    }

    /*섹션 2 끝*/
}

@media screen and (min-width:1080px) and (max-width: 1439px) {

	/* Tablet */
    .main{
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .main_mobile{
        display: none;
    }
    .maintitle{
        width: auto;
        height: 96px;
        color: #000000;
        font-size: 72px;
        font-weight: 595;
    }

    .section1{
        display: flex;
        width: 100%;
        height: 1035px;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    #vouter{
        width: 932px;
        height: 490px;
        border-radius: 20px;
        overflow: hidden;
        position: relative;
        /* margin: 70px 0px 32px 0px; */
    }

    .video{
        width: 100%;
        overflow: hidden;
        position: relative;
        left: 0;
        top: 0;
        opacity: 1;
    }
    .sec1textbox{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .gobtn{
        box-sizing: border-box;
        width: 161px;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #000218;
        overflow: visible;
        align-content: center;
        flex-wrap: nowrap;
        border-radius: 100px;
        border: 1px solid rgba(0, 2, 24, 0);
        font-size: 19px;
    }


    /*섹션 2*/
    .section2{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 156px 160px 156px;
    }

    .section2_mobile{
        display: none;
    }

    .innersection2{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0px 24px 0px 24px;
        height: 1354px;
        justify-content: space-evenly;
    }
    
    .sctimg2{
        width: 434px;
        height: 317px;
        background-color: rgba(232, 201, 210, 0.58);
        border-radius: 20px;
    }
    .sctimg1, .sctimg3{
        width: 434px;
        height: 317px;
        background-color: rgba(232, 201, 210, 0.58);
        border-radius: 20px;
    }

    .sctbox1,.sctbox2, .sctbox3{
        display: flex;
        flex-direction: row;
        width: 932px;
        justify-content: space-between;
        align-items: center;
    }  

    .box3title, .box2title, .box1title{
        font-size: 38px;
        font-weight: bold;
        line-height: 0.8;
    }
    .box3title:nth-of-type(2), .box2title:nth-of-type(2), .box1title:nth-of-type(2){
        font-size: 38px;
        font-weight: bold;
        color: #80243F;
        line-height: 1.4;
    }
    .box1detail, .box2detail, .box3detail{
        font-size: 15px;
        color: #858694;
        font-weight: 300;
    }

    .box1txt, .box2txt, .box3txt{
        width: 434px;
    }

    .box1detail, .box2detail, .box3detail{
        font-size: 16px;
        color: #858694;
        line-height: 2;
        margin-top: 13px;
    }
    /*섹션 2 끝*/
  
}


@media screen and (min-width:768px) and (max-width: 1079px) {
	/* Tablet */
    .main{
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .main_mobile{
        display: none;
    }
    .maintitle{
        width: auto;
        color: #000000;
        font-size: 52px;
        font-weight: bold;
    }

    .section1{
        display: flex;
        width: 100%;
        height: 890px;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    #vouter{
        width: 89.3333%;
        height: auto;
        border-radius: 20px;
        overflow: hidden;
        position: relative;
        /* margin: 70px 0px 32px 0px; */
    }

    .video{
        width: 100%;
        height: 100%;
        overflow: hidden;
        opacity: 1;
    }
    .sec1textbox{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .gobtn{
        box-sizing: border-box;
        width: 161px;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #000218;
        overflow: visible;
        align-content: center;
        flex-wrap: nowrap;
        border-radius: 100px;
        border: 1px solid rgba(0, 2, 24, 0);
        font-size: 19px;
    }

    .textbox{
        margin-top: 0px !important;
        line-height: 1.8;
        color: #858694;
        font-size: 20px;
    }

    /*섹션 2*/
    .section2{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 40px 80px 40px;
    }

    .section2_mobile{
        display: none;
    }
    
    .innersection2{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0px 24px 0px 24px;
        height: 1354px;
        justify-content: space-evenly;
    }
        
    .sctimg2{
        width: 37vh;
        height: 22vh;
        background-color: rgba(232, 201, 210, 0.58);
        border-radius: 20px;
    }
    .sctimg1, .sctimg3{
        width: 37vh;
        height: 22vh;
        background-color: rgba(232, 201, 210, 0.58);
        border-radius: 20px;
    }

    .sctbox1,.sctbox2, .sctbox3{
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 40px;
        justify-content: space-between;
        align-items: center;
    }  

    .box3title, .box2title, .box1title{
        font-size: 40px;
        font-weight: bold;
        line-height: 0.8;
    }
    .box3title:nth-of-type(2), .box2title:nth-of-type(2), .box1title:nth-of-type(2){
        font-size: 40px;
        font-weight: bold;
        color: #80243F;
        line-height: 1.5;
    }
    .box1detail, .box2detail, .box3detail{
        font-size: 13px;
        color: #858694;
        line-height: 2;
    }

    .box1txt, .box2txt, .box3txt{
        width: 56%;
    }
    /*섹션 2 끝*/
    
}

/* 여기까지가 좌우 카드 느낌 정렬*/

@media screen and (min-width:719px) and (max-width: 767px) {
	/* Tablet */
    .main{
        display: none;
    }

    .main_mobile{
        width: 100%;
    }

    .maintitle_mobile{
        display: flex;
        font-size: 50px;
        font-weight: bold;
    }

    .section1_mobile{
        display: flex;
        width: 100%;
        height: 835px;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .video{
        width: 100vw;
        height: fit-content;
    }

    .textbox_moblie{
        line-height: 1.8;
        color: #858694;
    }

    .sec1textbox_mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .gobtn{
        box-sizing: border-box;
        width: 161px;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #000218;
        overflow: visible;
        align-content: center;
        flex-wrap: nowrap;
        border-radius: 100px;
        border: 1px solid rgba(0, 2, 24, 0);
        font-size: 19px;
    }

    /*section2*/
    .section2{
        display: none;
    }

    .section2_mobile{
        display: flex;
    }

    .MidSection{
        padding-bottom: 1px;
        padding-top:1px;
        margin-left:34px;
        margin-right:34px;
        display:flex;
        flex-direction: column;
        align-items:center
      }
      .link{
        text-decoration: none;
        border-radius: 5px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      }
      .LinkComponent1{
        /* width:344px; */
        width:100%;
        /* height:323px; */
        /* margin-left:34px; */
        /* margin-right:34px; */
        margin-bottom:30px;
        background-color: #FFFFFF;
        border-radius:5px;
      }
      .LinkComponent2{
        /* width:344px; */
        width:100%;
        /* height:323px; */
        /* margin-left:34px; */
        /* margin-right:34px; */
        margin-bottom:60px;
        background-color: #FFFFFF;
        border-radius:5px;
      }
    
      .representativeImg{
        width:100%;
        border-top-left-radius:5px;
        border-top-right-radius:5px;
      }
      .representativeTitle1{
        font-family:Pretendard;
        font-size:16px;
        color:#848484;
        display:flex;
        flex-direction: column;
        margin-top:14.86px;
        margin-left:15px;
        justify-content: center;
        align-items: flex-start;
      }
      .commit_detail{
          margin-top: 10px;
          margin-bottom: 10px;
      }
      .commit{
        font-family:Pretendard;
        font-size:20px;
        color:#0E1013;
        margin-top:1px;
        font-weight: 700;
      }
      .outsection{
        padding-top: 60px;
      }

    /*section2*/
}

@media screen and (min-width:615px) and (max-width: 718px) { 
    .main{
        display: none;
    }

    .main_mobile{
        width: 100%;
    }

    .maintitle_mobile{
        display: flex;
        font-size: 50px;
        font-weight: bold;
    }

    .section1_mobile{
        display: flex;
        width: 100%;
        height: 862px;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .video{
        width: 100vw;
        height: fit-content;
    }

    .textbox_moblie{
        line-height: 1.8;
        color: #858694;
    }

    .sec1textbox_mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .gobtn{
        box-sizing: border-box;
        width: 161px;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #000218;
        overflow: visible;
        align-content: center;
        flex-wrap: nowrap;
        border-radius: 100px;
        border: 1px solid rgba(0, 2, 24, 0);
        font-size: 19px;
    }

    /*section2*/
    .section2{
        display: none;
    }

    .section2_mobile{
        display: flex;
    }

    .MidSection{
        padding-bottom: 1px;
        padding-top:1px;
        margin-left:34px;
        margin-right:34px;
        display:flex;
        flex-direction: column;
        align-items:center
      }
      .link{
        text-decoration: none;
        border-radius: 5px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      }
      .LinkComponent1{
        /* width:344px; */
        width:100%;
        /* height:323px; */
        /* margin-left:34px; */
        /* margin-right:34px; */
        margin-bottom:30px;
        background-color: #FFFFFF;
        border-radius:5px;
      }
      .LinkComponent2{
        /* width:344px; */
        width:100%;
        /* height:323px; */
        /* margin-left:34px; */
        /* margin-right:34px; */
        margin-bottom:60px;
        background-color: #FFFFFF;
        border-radius:5px;
      }
    
      .representativeImg{
        width:100%;
        border-top-left-radius:5px;
        border-top-right-radius:5px;
      }
      .representativeTitle1{
        font-family:Pretendard;
        font-size:16px;
        color:#848484;
        display:flex;
        flex-direction: column;
        margin-top:14.86px;
        margin-left:15px;
        justify-content: center;
        align-items: flex-start;
      }
      .commit_detail{
          margin-top: 10px;
          margin-bottom: 10px;
      }
      .commit{
        font-family:Pretendard;
        font-size:20px;
        color:#0E1013;
        margin-top:1px;
        font-weight: 700;
      }
      .outsection{
        padding-top: 60px;
      }

    /*section2*/

}

@media screen and (min-width:467px) and (max-width: 615px) { 
    .main{
        display: none;
    }

    .main_mobile{
        width: 100%;
    }

    .maintitle_mobile{
        display: flex;
        font-size: 50px;
        font-weight: bold;
    }

    .section1_mobile{
        display: flex;
        width: 100%;
        height: 751px;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .video{
        width: 100vw;
        height: fit-content;
    }

    .textbox_moblie{
        line-height: 1.8;
        color: #858694;
    }

    .sec1textbox_mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .gobtn{
        box-sizing: border-box;
        width: 161px;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #000218;
        overflow: visible;
        align-content: center;
        flex-wrap: nowrap;
        border-radius: 100px;
        border: 1px solid rgba(0, 2, 24, 0);
        font-size: 19px;
    }

    /*section2*/
    .section2{
        display: none;
    }

    .section2_mobile{
        display: flex;
    }

    .MidSection{
        padding-bottom: 1px;
        padding-top:1px;
        margin-left:34px;
        margin-right:34px;
        display:flex;
        flex-direction: column;
        align-items:center
      }
      .link{
        text-decoration: none;
        border-radius: 5px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      }
      .LinkComponent1{
        /* width:344px; */
        width:100%;
        /* height:323px; */
        /* margin-left:34px; */
        /* margin-right:34px; */
        margin-bottom:30px;
        background-color: #FFFFFF;
        border-radius:5px;
      }
      .LinkComponent2{
        /* width:344px; */
        width:100%;
        /* height:323px; */
        /* margin-left:34px; */
        /* margin-right:34px; */
        margin-bottom:60px;
        background-color: #FFFFFF;
        border-radius:5px;
      }
    
      .representativeImg{
        width:100%;
        border-top-left-radius:5px;
        border-top-right-radius:5px;
      }
      .representativeTitle1{
        font-family:Pretendard;
        font-size:16px;
        color:#848484;
        display:flex;
        flex-direction: column;
        margin-top:14.86px;
        margin-left:15px;
        justify-content: center;
        align-items: flex-start;
      }
      .commit_detail{
          margin-top: 10px;
          margin-bottom: 10px;
      }
      .commit{
        font-family:Pretendard;
        font-size:20px;
        color:#0E1013;
        margin-top:1px;
        font-weight: 700;
      }
      .outsection{
        padding-top: 60px;
      }

    /*section2*/

}

@media screen and (max-width:495px){ 
    .main{
        display: none;
    }

    .main_mobile{
        width: 100%;
    }

    .maintitle_mobile {
        display: flex;
        font-size: 39px;
        font-weight: bold;
    }

    .section1_mobile {
        display: flex;
        width: 100%;
        height: 598px;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .video{
        width: 100vw;
        height: fit-content;
    }

    .textbox_moblie {
        line-height: 1.8;
        color: #858694;
        font-size: 12px;
    }

    .sec1textbox_mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .gobtn{
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #000218;
        overflow: visible;
        align-content: center;
        flex-wrap: nowrap;
        border-radius: 100px;
        border: 1px solid rgba(0, 2, 24, 0);
        font-size: 19px;
    }
    .sec1textbox_mobile > a {
        text-decoration: none;
        color: white;
        margin-top: 35px;
        height: 41px;
        width: 100% !important;
    }

    /*section2*/
    .section2{
        display: none;
    }

    .section2_mobile{
        display: flex;
    }

    .MidSection{
        padding-bottom: 1px;
        padding-top:1px;
        margin-left:34px;
        margin-right:34px;
        display:flex;
        flex-direction: column;
        align-items:center
      }
      .link{
        text-decoration: none;
        border-radius: 5px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      }
      .LinkComponent1{
        /* width:344px; */
        width:100%;
        /* height:323px; */
        /* margin-left:34px; */
        /* margin-right:34px; */
        margin-bottom:30px;
        background-color: #FFFFFF;
        border-radius:5px;
      }
      .LinkComponent2{
        /* width:344px; */
        width:100%;
        /* height:323px; */
        /* margin-left:34px; */
        /* margin-right:34px; */
        margin-bottom:60px;
        background-color: #FFFFFF;
        border-radius:5px;
      }
    
      .representativeImg{
        width:100%;
        border-top-left-radius:5px;
        border-top-right-radius:5px;
      }
      .representativeTitle1{
        font-family:Pretendard;
        font-size:16px;
        color:#848484;
        display:flex;
        flex-direction: column;
        margin-top:14.86px;
        margin-left:15px;
        justify-content: center;
        align-items: flex-start;
      }
      .commit_detail{
          margin-top: 10px;
          margin-bottom: 10px;
      }
      .commit{
        font-family:Pretendard;
        font-size:20px;
        color:#0E1013;
        margin-top:1px;
        font-weight: 700;
      }
      .outsection{
        padding-top: 60px;
      }

    /*section2*/
}

*{
    padding: 0;
    margin: 0;
    /* font-family: 'Noto Sans KR', sans-serif; */
    font-family: 'NanumSquareNeo-Variable';
    
}




.sec1textbox > a {
    text-decoration: none;
    color: white;
    margin-top: 35px;
    height: 41px;
}

.sec1textbox_mobile > a {
    text-decoration: none;
    color: white;
    margin-top: 35px;
    height: 41px;
}

.textbox{
    margin-top: 64px;
    line-height: 1.8;
    color: #858694;
    font-size: 20px;
}

