.maintitle{
    text-align: center;
    margin-top: 56px;
}
.orgContent{
    padding: 80px;
    margin: 20px;
}
.presidency{
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: center;
}
.mobileCard{
    display: none;
}
.member{
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 220px;
}
.card{
    width: 270px;
    border-radius: 20px;
    box-shadow: 0px 0.796841278193901px 2.3905238345817033px -0.625px rgba(0, 0, 0, 0.05), 0px 2.413677098392273px 7.2410312951768185px -1.25px rgba(0, 0, 0, 0.05), 0px 6.3802836426702925px 19.140850928010877px -1.875px rgba(0, 0, 0, 0.05), 0px 20px 60px -2.5px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}
.cardImg{
    width: 270px;
    height: 360px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    background-size: cover;
}
.cardContent{
    box-sizing: border-box;
    height: 120px; /* 134px */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 30px 30px 30px 30px;
}


/* 화면 크기별 크기 조정 */
@media screen and (min-width:1779px){
    .orgContent{
        padding: 80px 400px;
        margin: 20px;
    }
}
@media screen and (min-width:1580px) and (max-width: 1779px) {
    .orgContent{
        padding: 80px 300px;
        margin: 20px;
    }
}
@media screen and (min-width:1340px) and (max-width: 1580px) {
    .orgContent{
        padding: 80px 200px;
        margin: 20px;
    }
}
@media screen and (max-width: 1440px) {
    .member{
        padding: 20px 80px;
    }
}
@media screen and (max-width: 1419px) {
    .member{
        padding: 20px 40px;
    }
}
@media screen and (max-width: 1139px) {
    .member{
        padding: 20px 30px;
    }
}
@media screen and (max-width: 1110px) {
    .member{
        padding: 20px 10px;
    }
}
@media screen and (max-width: 10900px) {
    .member{
        padding: 20px 0;
        margin: 0;

    }
}

@media screen and (max-width: 780px) {
    .orgContent{
        display: flex;
        flex-direction: row;
        justify-content: start;
        overflow-x: scroll;
        overflow-y: hidden;
        height:460px;
        padding: 0 100px;
        -ms-overflow-style: none; /* 인터넷 익스플로러 */
        scrollbar-width: none; /* 파이어폭스 */
    }
    .orgContent::-webkit-scrollbar{
        display: none;
    }
    .cardContent{
        box-sizing: border-box;
        height: 80px; /* 134px */
        display: bolck;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 30px;
    }
    .presidency{
        flex-wrap: nowrap;
    }
    .mobileCard{
        display: flex;
        margin-left: 20px;
        gap: 20px;
    }
    .member{
        display: none;
    }
}

@media screen and (max-width: 620px) {
    .orgContent{
        height:460px;
        padding: 0 80px;
        -ms-overflow-style: none; /* 인터넷 익스플로러 */
        scrollbar-width: none; /* 파이어폭스 */
    }
}
@media screen and (max-width: 565px) {
    .orgContent{
        height:460px;
        padding: 0 60px;
        -ms-overflow-style: none; /* 인터넷 익스플로러 */
        scrollbar-width: none; /* 파이어폭스 */
    }
}
@media screen and (max-width: 530px) {
    .orgContent{
        height:460px;
        padding: 0 35px;
        -ms-overflow-style: none; /* 인터넷 익스플로러 */
        scrollbar-width: none; /* 파이어폭스 */
    }
}
@media screen and (max-width: 500px) {
    .orgContent{
        height:460px;
        padding: 0 50px;
        -ms-overflow-style: none; /* 인터넷 익스플로러 */
        scrollbar-width: none; /* 파이어폭스 */
    }
}
@media screen and (max-width: 400px) {
    .orgContent{
        height:460px;
        padding: 0 20px;
        -ms-overflow-style: none; /* 인터넷 익스플로러 */
        scrollbar-width: none; /* 파이어폭스 */
    }
}