<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title> </title>
    {% load static %} 
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    {% block extrahead %}
    {% endblock %}
  </head>

    {% include 'header.html' %}
    <body>
    {% block content %}
    {% endblock %}
    </body>
    {% include 'footer.html' %}
  
</html>