<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title> </title>
    {% load static %} 
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <!-- og tag 정의 -->
    <meta property="og:title" content="LIKELION.DS"/>
    <!-- <meta property="og:image" content="/static/img/"/> -->
    <meta property="og:description" content="안녕하세요 덕성여자대학교 멋쟁이사자처럼입니다"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    {% block extrahead %}
    {% endblock %}
  </head>

    {% include 'header.html' %}
    <body onselectstart="return blockSelect()" oncontextmenu="return blockRightClick()">
    {% block content %}
    {% endblock %}
    </body>
    {% include 'footer.html' %}
    <script src="/static/js/nav_activate.js"></script>
    <script src="/static/js/scrab_block.js"></script>
</html>