<html>
  <head>
    {% load static %} <link rel="stylesheet" href={% static './css/footer.css' %}>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
  </head>
  <body>
    <div class="footerbox">
      <img class="footlogo_mobile" src={% static './img/footerlogo.png' %}/>
      <img class="footlogo" src={% static './img/footerlogo.png' %}/>
      <div class="contactbox">
        <div class="cttitle">Contact</div>
        <div class="ctbox">
          <a href="https://www.instagram.com/likelion_ds/" class="insta">Instagram</a>
          <a href="https://open.kakao.com/o/sV6KDe2e" class="open">Open Chat</a>
          <a href="duksung@likelion.org" class="email">Email</a>
        </div>
      </div>
    </div>
</html>