<html>
  <head>
    {% load static %} 
    <link rel="stylesheet" href={% static './css/header.css' %}>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
  </head>
  <body>
    <div class="navbar">
      <a href="{% url 'home' %}"> <img class="navlogo" src={% static './img/navlogo.png' %}/> </a>
        <div class="nav">
            <div>
              <a href="{% url 'home' %}">
                <div class="navtxt">HOME</div>
              </a>
            </div>
            <div>
              <a href="{% url 'home' %}">
                <div class="navtxt">ABOUT</div>
              </a>
            </div>
            <div>
              <a href="{% url 'home' %}">
                <div class="navtxt">ORG</div>
              </a>
            </div>
            <div>
              <a href="{% url 'home' %}">
                <div class="navtxt">RECRUIT</div>
              </a>
            </div>
            <div>
              <a href="{% url 'home' %}">
                <div class="navtxt">TALK</div>
              </a>
            </div>
        </div>
        <!-- <script src="/static/js/nav_activate.js"></script> -->
    </div>
    <div class="navbar_mobile">
      <a href="{% url 'home' %}"> <img class="navlogo_mobile" src={% static './img/navlogo.png' %}/></a>
      <a href="javascript:;" class="btn-menu" onclick="Openmenu()"></a>
      <div  class="nav_detailbox">
        <div class="innerdtail">
          <ul>
              <li><a href="{% url 'home' %}">HOME</a></li>
              <li><a href="{% url 'home' %}">ABOUT</a></li>
              <li><a href="{% url 'home' %}">ORG</a></li>
              <li><a href="{% url 'home' %}">RECRUIT</a></li>
              <li><a href="{% url 'home' %}">TALK</a></li>
          </ul>
        </div>
      </div>
    </div>
    <script src="/static/js/menu.js"></script>
    <script src="/static/js/nav_scroll.js"></script>
  </body>
</html>