{% extends 'base.html' %}
<head> 
  {% load static %}
  {% block extrahead %}
  <link rel="stylesheet" href={% static './css/main.css' %}>
  {% endblock %}
</head>

{% block content%}
<body>
  <div class="main">
      <div class="section1">
        <div class="maintitle">" POSSIBILITY TO REALITY "</div>
        <div id="vouter">
          <video id="vid" class="video" loop autoplay muted playsinline poster={% static './img/videoposter.png' %}>
            <source src={% static './img/likelion_ds.mp4' %} type="video/mp4">
          </video>
        </div>
        <div class="sec1textbox">
          <div class="textbox">2023 덕성여자대학교 멋쟁이사자처럼에서는 개발에 대한 열정과<br>빛나는 아이디어를 갖고 있는 11기 아기사자를 기다리고 있습니다.</div>
          <a href="https://forms.gle/C5i9NqXasCF6Kp2M7"><div class="gobtn">지원하러가기 ></div></a>
        </div>
      </div>
  </div>
  <div class="main_mobile">
    <div class="section1_mobile">
      <div class="maintitle_mobile">"POSSIBILITY <br>&nbsp;TO&nbsp;&nbsp;REALITY"</div>
        <video id="vid" class="video" loop autoplay muted playsinline poster={% static './img/videoposter.png' %}>
          <source src={% static './img/likelion_ds.mp4' %} type="video/mp4">
        </video>
        <div class="sec1textbox_mobile">
          <div class="textbox_moblie">2023 덕성여자대학교 멋쟁이사자처럼에서는 개발에 대한 열정과<br>빛나는 아이디어를 갖고 있는 11기 아기사자를 기다리고 있습니다.</div>
          <a href="https://forms.gle/C5i9NqXasCF6Kp2M7"><div class="gobtn">지원하러가기 ></div></a>
        </div>
      </div>
    </div>
  </div>
  <div class="section2">
    <div class="innersection2">
      <a href="{% url 'org' %}">
        <div class="sctbox1">
          <div class="sctimg1"></div>
          <div class="box1txt">
            <h2 class="box1title">2023 덕성 멋사</h2>
            <h2 class="box1title">11기 운영진</h2>
            <div class="box1detail">2023년을 책임질 덕성여자대학교 멋쟁이사자처럼 11기 운영진을 소개합니다!</div>
          </div>
        </div>
      </a>
      <a href="{% url 'about' %}">
        <div class="sctbox2">
          <div class="box2txt">
            <h2 class="box2title">덕성 멋사</h2>
            <h2 class="box2title">활동 미리보기</h2>
            <div class="box2detail">덕성여자대학교 멋쟁이사자처럼에서는 어떤 활동을 할까요?</div>
          </div>
          <div class="sctimg2"></div>
        </div>
      </a>
      <a href="{% url 'talk' %}">
        <div class="sctbox3">
          <div class="sctimg3"></div>
          <div class="box3txt">
            <h2 class="box3title">덕성 멋사에게</h2>
            <h2 class="box3title">물어보세요!</h2>
            <div class="box3detail">11기 덕성여자대학교 멋쟁이사자처럼에게 질문 및  응원 메시지를 남겨보세요!</div>
          </div>
        </div>
      </a>
    </div>
  </div>
  
  <div class="section2_tab">
    <div class="MidSection">
      <div class="LinkComponent1">
        <a href="{% url 'org' %}">
          <div class="link">
            <img class="representativeImg" src={% static './img/org.jpg' %}/>
            <div class="representativeTitle1">
              <div class="commit">2023년 덕성 멋사</div>
              <div class="commit_r">11기 운영진</div>
              <div class="commit_detail">2023년을 책임질 덕성여자대학교 멋쟁이사자처럼 11기 운영진을 소개합니다!</div>
            </div>
          </div>
        </a>
      </div>
      <div class="LinkComponent1">
        <a href="{% url 'about' %}">
          <div class="link">
            <div class="representativeTitle1">
              <div class="commit">덕성 멋사</div>
              <div class="commit_r">활동 미리보기</div>
              <div class="commit_detail">덕성여자대학교 멋쟁이사자처럼에서는 어떤 활동을 할까요?</div>
            </div>
            <img class="representativeImg" src={% static './img/about.jpg' %}/>
          </div>
        </a>
      </div>
      <div class="LinkComponent1">
        <a href="{% url 'talk' %}">
          <div class="link">
            <img class="representativeImg" src={% static './img/talk.jpg' %}/>
            <div class="representativeTitle1">
              <div class="commit">덕성 멋사에게</div>
              <div class="commit_r">물어보세요!</div>
              <div class="commit_detail">덕성여자대학교 멋쟁이사자처럼에게 질문 및 응원 메시지를 남겨보세요!</div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>


  <div class="section2_mobile">
    <div class="MidSection">
      <div class="LinkComponent1">
        <a href="{% url 'org' %}">
          <div class="link">
            <div class="representativeTitle1">
              <div class="commit">2023년 덕성 멋사 <span>11기 운영진</span></div>
              <div class="commit_detail">2023년을 책임질 11기 운영진을 소개합니다!</div>
            </div>
            <img class="representativeImg" src={% static './img/org.jpg' %}/>
          </div>
        </a>
      </div>
      <div class="LinkComponent1">
        <a href="{% url 'about' %}">
          <div class="link">
            <div class="representativeTitle1">
              <div class="commit">덕성 멋사 <span>활동 미리보기</span></div>
              <div class="commit_detail">덕성여자대학교 멋쟁이사자처럼에서는 어떤 활동을 할까요?</div>
            </div>
            <img class="representativeImg" src={% static './img/about.jpg' %}/>
          </div>
        </a>
      </div>
      <div class="LinkComponent1">
        <a href="{% url 'talk' %}">
          <div class="link">
            <div class="representativeTitle1">
              <div class="commit">덕성 멋사에게 <span>물어보세요!</span></div>
              <div class="commit_detail">11기 덕성여자대학교 멋쟁이사자처럼에게 질문 및 응원 메시지를 남겨보세요</div>
            </div>
            <img class="representativeImg" src={% static './img/talk.jpg' %}/>
          </div>
        </a>
      </div>
    </div>
  </div>
  <script src="/static/js/autoplay.js"></script>
</body>
{% endblock %}