{% extends 'base.html' %}
<head> 
  {% load static %}
  {% block extrahead %}
  <link rel="stylesheet" href="{% static './css/main.css' %}">
  <link rel="stylesheet" href="{% static './css/org.css' %}">
  {% endblock %}
</head>

{% block content %}
<!-- title -->
<h1 class="maintitle">ORG Chart</h1>
<!-- content -->
<div class="orgContent">
  <div class="presidency">
    <div class="card">
      <img class="cardImg" style="background-image: url('../static/img/heoeun.jpg');"></img>
      <div class="cardContent">
      <h3 style="line-height: 2;">대표 허은</h3>
      <p style="line-height: 1.5">요즘 누가 덕성 멋사 함? <br>안녕하세요, 누입니다.</p>
      </div>
    </div>
    <div class="card">
      <div class="cardImg" style="background-image: url('../static/img/seojin.jpg');"></div>
      <div class="cardContent">
      <h3>부대표 이서진</h3>
      <p>덕성멋사의 hype boy요</p>
      </div>
    </div>
  </div>
    <!-- 모바일 반응형 -->
    <div class="mobileCard">
    <div class="card">
      <div class="cardImg" style="background-image: url('../static/img/huiwon.jpg');"></div>
      <div class="cardContent">
      <h3>권희원</h3>
      <p>I like a likelion🧡</p>
      </div>
    </div>
    <div class="card">
      <div class="cardImg" style="background-image: url('../static/img/nari.jpg');"></div>
      <div class="cardContent">
      <h3 style="line-height: 2;">김나리</h3>
      <p style="line-height: 1; font-size: small;">긁적... 멋사가 모애요?<br>
        ㄴ머싸란말이야우리나라최고의코딩동아리로웹페이지어쩌고저쩌고•••</p>
      </div>
    </div>
    <div class="card">
      <div class="cardImg" style="background-image: url('../static/img/chaei.jpg');"></div>
      <div class="cardContent">
      <h3 style="line-height: 2;">김채이</h3>
      <p style="line-height: 1.5; ">BTS, 봉준호, 손흥민,<br>덕성 멋사 let's go</p>
      </div>
    </div>
    <div class="card">
      <div class="cardImg" style="background-image: url('../static/img/chaehyun.jpg');"></div>
      <div class="cardContent">
      <h3>김채현</h3>
      <p>걸어봐 위엄 라커 라이엉~🦁</p>
      </div>
    </div>
    <div class="card">
      <div class="cardImg" style="background-image: url('../static/img/harim.jpg');"></div>
      <div class="cardContent">
      <h3>노하림</h3>
      <p>Life is skrrrrr~🐳</p>
      </div>
    </div>
    <div class="card">
      <div class="cardImg" style="background-image: url('../static/img/yubin.jpg');"></div>
      <div class="cardContent">
      <h3>민유빈</h3>
      <p>멋사 쭈고</p>
      </div>
    </div>
    <div class="card">
      <div class="cardImg" style="background-image: url('../static/img/yeojin.jpg');"></div>
      <div class="cardContent">
      <h3 style="line-height: 2;"">안여진</h3>
      <p style="line-height: 1.5;">덕성멋사에서 같이 후회 없는<br> 1년 만들어가요!</p>
      </div>
    </div>
    <div class="card">
      <div class="cardImg" style="background-image: url('../static/img/soyung.jpg');"></div>
      <div class="cardContent">
      <h3>장소영</h3>
      <p>장고의 신, 장고영</p>
      </div>
    </div>
    <div class="card">
      <div class="cardImg" style="background-image: url('../static/img/jinkyung.jpg');"></div>
      <div class="cardContent">
      <h3>한진경</h3>
      <p>어서와 멋사는 처음이지?</p>
      </div>
    </div>
    </div>

  
  <div class="member">
  <div class="card">
    <div class="cardImg" style="background-image: url('../static/img/huiwon.jpg');"></div>
    <div class="cardContent">
    <h3>권희원</h3>
    <p>I like a likelion🧡</p>
    </div>
  </div>
  <div class="card">
    <div class="cardImg" style="background-image: url('../static/img/nari.jpg');"></div>
    <div class="cardContent">
    <h3 style="line-height: 2;">김나리</h3>
    <p style="line-height: 1.5; font-size: small;">긁적... 멋사가 모애요?<br>
      ㄴ 머싸란말이야우리나라최고의코딩동아리로웹페이지어쩌고저쩌고•••</p>
    </div>
  </div>
  <div class="card">
    <div class="cardImg" style="background-image: url('../static/img/chaei.jpg');"></div>
    <div class="cardContent">
    <h3 style="line-height: 2;">김채이</h3>
    <p style="line-height: 1.5;">BTS, 봉준호, 손흥민,<br>덕성 멋사 let's go</p>
    </div>
  </div>
  <div class="card">
    <div class="cardImg" style="background-image: url('../static/img/chaehyun.jpg');"></div>
    <div class="cardContent">
    <h3>김채현</h3>
    <p>걸어봐 위엄 라커 라이엉~🦁</p>
  </div>
  </div>
  <div class="card">
    <div class="cardImg" style="background-image: url('../static/img/harim.jpg');"></div>
    <div class="cardContent">
    <h3>노하림</h3>
    <p>Life is skrrrrr~🐳</p>
    </div>
  </div>
  <div class="card">
    <div class="cardImg" style="background-image: url('../static/img/yubin.jpg');"></div>
    <div class="cardContent">
    <h3>민유빈</h3>
    <p>멋사 쭈고</p>
    </div>
  </div>
  <div class="card">
    <div class="cardImg" style="background-image: url('../static/img/yeojin.jpg');"></div>
    <div class="cardContent">
    <h3 style="line-height: 2;"">안여진</h3>
    <p style="line-height: 1.5;">덕성멋사에서 같이 후회 없는<br> 1년 만들어가요!</p>
    </div>
  </div>
  <div class="card">
    <div class="cardImg" style="background-image: url('../static/img/soyung.jpg');"></div>
    <div class="cardContent">
    <h3>장소영</h3>
    <p>장고의 신, 장고영</p>
    </div>
  </div>
  <div class="card">
    <div class="cardImg" style="background-image: url('../static/img/jinkyung.jpg');"></div>
    <div class="cardContent">
    <h3>한진경</h3>
    <p>어서와 멋사는 처음이지?</p>
    </div>
  </div>
  </div>
</div>
{% endblock %}