{% extends 'base.html' %}
<head> 
  {% load static %}
  {% block extrahead %}
  <link rel="stylesheet" href="{% static './css/main.css' %}">
  <link rel="stylesheet" href="{% static './css/org.css' %}">
  {% endblock %}
</head>

{% block content %}
<!-- title -->
<div class="hidden">
<h1 class="maintitle">ORG Chart</h1>
</div>
<!-- content -->
<div class="orgContent">
  <div class="presidency">
    <div class="card">
      <img class="cardImg" src="{% static './img/videoposter.png' %}"/>
      <div class="cardContent">
      <h3>대표 허은</h3>
      <p>어서와 멋사는 처음이지?</p>
      </div>
    </div>
    <div class="card">
      <img class="cardImg" src="{% static './img/videoposter.png' %}"/>
      <div class="cardContent">
      <h3>부대표 이서진</h3>
      <p>어서와 멋사는 처음이지?</p>
      </div>
    </div>

    <!-- 모바일 반응형 -->
    <div class="mobileCard">
    <div class="card">
      <img class="cardImg" src="{% static './img/videoposter.png' %}"/>
      <div class="cardContent">
      <h3>권희원</h3>
      <p>어서와 멋사는 처음이지?</p>
      </div>
    </div>
    <div class="card">
      <img class="cardImg" src="{% static './img/videoposter.png' %}"/>
      <div class="cardContent">
      <h3>김나리</h3>
      <p>어서와 멋사는 처음이지?</p>
      </div>
    </div>
    <div class="card">
      <img class="cardImg" src="{% static './img/videoposter.png' %}"/>
      <div class="cardContent">
      <h3>김채이</h3>
      <p>어서와 멋사는 처음이지?</p>
      </div>
    </div>
    <div class="card">
      <img class="cardImg" src="{% static './img/videoposter.png' %}"/>
      <div class="cardContent">
      <h3>김채현</h3>
      <p>어서와 멋사는 처음이지?</p>
      </div>
    </div>
    <div class="card">
      <img class="cardImg" src="{% static './img/videoposter.png' %}"/>
      <div class="cardContent">
      <h3>노하림</h3>
      <p>어서와 멋사는 처음이지?</p>
      </div>
    </div>
    <div class="card">
      <img class="cardImg" src="{% static './img/videoposter.png' %}"/>
      <div class="cardContent">
      <h3>민유빈</h3>
      <p>어서와 멋사는 처음이지?</p>
      </div>
    </div>
    <div class="card">
      <img class="cardImg" src="{% static './img/videoposter.png' %}"/>
      <div class="cardContent">
      <h3>안여진</h3>
      <p>어서와 멋사는 처음이지?</p>
      </div>
    </div>
    <div class="card">
      <img class="cardImg" src="{% static './img/videoposter.png' %}"/>
      <div class="cardContent">
      <h3>장소영</h3>
      <p>어서와 멋사는 처음이지?</p>
      </div>
    </div>
    <div class="card">
      <img class="cardImg" src="{% static './img/videoposter.png' %}"/>
      <div class="cardContent">
      <h3>한진경</h3>
      <p>어서와 멋사는 처음이지?</p>
      </div>
    </div>
    </div>
  </div>
  <div class="member">
  <div class="card">
    <img class="cardImg" src="{% static './img/videoposter.png' %}"/>
    <div class="cardContent">
    <h3>권희원</h3>
    <p>어서와 멋사는 처음이지?</p>
    </div>
  </div>
  <div class="card">
    <img class="cardImg" src="{% static './img/videoposter.png' %}"/>
    <div class="cardContent">
    <h3>김나리</h3>
    <p>어서와 멋사는 처음이지?</p>
    </div>
  </div>
  <div class="card">
    <img class="cardImg" src="{% static './img/videoposter.png' %}"/>
    <div class="cardContent">
    <h3>김채이</h3>
    <p>어서와 멋사는 처음이지?</p>
    </div>
  </div>
  <div class="card">
    <img class="cardImg" src="{% static './img/videoposter.png' %}"/>
    <div class="cardContent">
    <h3>김채현</h3>
    <p>어서와 멋사는 처음이지?</p>
    </div>
  </div>
  <div class="card">
    <img class="cardImg" src="{% static './img/videoposter.png' %}"/>
    <div class="cardContent">
    <h3>노하림</h3>
    <p>어서와 멋사는 처음이지?</p>
    </div>
  </div>
  <div class="card">
    <img class="cardImg" src="{% static './img/videoposter.png' %}"/>
    <div class="cardContent">
    <h3>민유빈</h3>
    <p>어서와 멋사는 처음이지?</p>
    </div>
  </div>
  <div class="card">
    <img class="cardImg" src="{% static './img/videoposter.png' %}"/>
    <div class="cardContent">
    <h3>안여진</h3>
    <p>어서와 멋사는 처음이지?</p>
    </div>
  </div>
  <div class="card">
    <img class="cardImg" src="{% static './img/videoposter.png' %}"/>
    <div class="cardContent">
    <h3>장소영</h3>
    <p>어서와 멋사는 처음이지?</p>
    </div>
  </div>
  <div class="card">
    <img class="cardImg" src="{% static './img/videoposter.png' %}"/>
    <div class="cardContent">
    <h3>한진경</h3>
    <p>어서와 멋사는 처음이지?</p>
    </div>
  </div>
  </div>
</div>
{% endblock %}