{% extends 'base.html' %}
<head> 
  {% load static %}
  {% block extrahead %}
  <link rel="stylesheet" href="{% static './css/main.css' %}">
  <link rel="stylesheet" href="{% static './css/org.css' %}">
  {% endblock %}
</head>

{% block content %}
<!-- title -->
<h1 class="maintitle">ORG Chart</h1>
<!-- content -->
<div class="orgContent">
  <div class="presidency">
    <div class="card">
      <img class="cardImg" style="background-image: url('../static/img/heoeun.jpg');"></img>
      <div class="cardContent">
      <h3>대표 허은</h3>
      <p>어서와 멋사는 처음이지?</p>
      </div>
    </div>
    <div class="card">
      <div class="cardImg" style="background-image: url('../static/img/seojin.jpg');"></div>
      <div class="cardContent">
      <h3>부대표 이서진</h3>
      <p>어서와 멋사는 처음이지?</p>
      </div>
    </div>
  </div>
    <!-- 모바일 반응형 -->
    <div class="mobileCard">
    <div class="card">
      <div class="cardImg" style="background-image: url('../static/img/huiwon.jpg');"></div>
      <div class="cardContent">
      <h3>권희원</h3>
      <p>어서와 멋사는 처음이지?</p>
      </div>
    </div>
    <div class="card">
      <div class="cardImg" style="background-image: url('../static/img/nari.jpg');"></div>
      <div class="cardContent">
      <h3>김나리</h3>
      <p style="line-height: 1.5;">열정! 열정! 열정! 멋사에서 이 한몸 불사지르는 날까지</p>
      </div>
    </div>
    <div class="card">
      <div class="cardImg" style="background-image: url('../static/img/chaei.jpg');"></div>
      <div class="cardContent">
      <h3>김채이</h3>
      <p>어서와 멋사는 처음이지?</p>
      </div>
    </div>
    <div class="card">
      <div class="cardImg" style="background-image: url('../static/img/chaehyun.jpg');"></div>
      <div class="cardContent">
      <h3>김채현</h3>
      <p>걸어봐 위엄 like a lion~🦁</p>
      </div>
    </div>
    <div class="card">
      <div class="cardImg" style="background-image: url('../static/img/harim.jpg');"></div>
      <div class="cardContent">
      <h3>노하림</h3>
      <p>Like is skrrrrr</p>
      </div>
    </div>
    <div class="card">
      <div class="cardImg" style="background-image: url('../static/img/yubin.jpg');"></div>
      <div class="cardContent">
      <h3>민유빈</h3>
      <p>어서와 멋사는 처음이지?</p>
      </div>
    </div>
    <div class="card">
      <div class="cardImg" style="background-image: url('../static/img/yeojin.jpg');"></div>
      <div class="cardContent">
      <h3>안여진</h3>
      <p>어서와 멋사는 처음이지?</p>
      </div>
    </div>
    <div class="card">
      <div class="cardImg" style="background-image: url('../static/img/soyung.jpg');"></div>
      <div class="cardContent">
      <h3>장소영</h3>
      <p>어서와 멋사는 처음이지?</p>
      </div>
    </div>
    <div class="card">
      <div class="cardImg" style="background-image: url('../static/img/jinkyung.jpg');"></div>
      <div class="cardContent">
      <h3>한진경</h3>
      <p>어서와 멋사는 처음이지?</p>
      </div>
    </div>
    </div>

  
  <div class="member">
  <div class="card">
    <div class="cardImg" style="background-image: url('../static/img/huiwon.jpg');"></div>
    <div class="cardContent">
    <h3>권희원</h3>
    <p>어서와 멋사는 처음이지?</p>
    </div>
  </div>
  <div class="card">
    <div class="cardImg" style="background-image: url('../static/img/nari.jpg');"></div>
    <div class="cardContent">
    <h3>김나리</h3>
    <p style="line-height: 1.5;">열정! 열정! 열정! 멋사에서 이 한몸 불사지르는 날까지</p>
  </div>
  </div>
  <div class="card">
    <div class="cardImg" style="background-image: url('../static/img/chaei.jpg');"></div>
    <div class="cardContent">
    <h3>김채이</h3>
    <p>어서와 멋사는 처음이지?</p>
    </div>
  </div>
  <div class="card">
    <div class="cardImg" style="background-image: url('../static/img/chaehyun.jpg');"></div>
    <div class="cardContent">
    <h3>김채현</h3>
    <p>걸어봐 위엄 like a lion~🦁</p>
  </div>
  </div>
  <div class="card">
    <div class="cardImg" style="background-image: url('../static/img/harim.jpg');"></div>
    <div class="cardContent">
    <h3>노하림</h3>
    <p>Like is skrrrrr</p>
    </div>
  </div>
  <div class="card">
    <div class="cardImg" style="background-image: url('../static/img/yubin.jpg');"></div>
    <div class="cardContent">
    <h3>민유빈</h3>
    <p>어서와 멋사는 처음이지?</p>
    </div>
  </div>
  <div class="card">
    <div class="cardImg" style="background-image: url('../static/img/yeojin.jpg');"></div>
    <div class="cardContent">
    <h3>안여진</h3>
    <p>어서와 멋사는 처음이지?</p>
    </div>
  </div>
  <div class="card">
    <div class="cardImg" style="background-image: url('../static/img/soyung.jpg');"></div>
    <div class="cardContent">
    <h3>장소영</h3>
    <p>어서와 멋사는 처음이지?</p>
    </div>
  </div>
  <div class="card">
    <div class="cardImg" style="background-image: url('../static/img/jinkyung.jpg');"></div>
    <div class="cardContent">
    <h3>한진경</h3>
    <p>어서와 멋사는 처음이지?</p>
    </div>
  </div>
  </div>
</div>
{% endblock %}